{% extends 'base.html' %}


{% block content %}
    <div class="col-md-12">
        Fruitipy is a project carried out by Fondazione Bruno Kessler in collaboration with S.Orsola and Cavit. The aim is to develop solution for the improvement of safety and quality of the food. Fruitoscopy uses a portable spectroscope and analyze the data acquired from it in order to asses and recognize the ripe grade of the fruit and its freshness.
        It can even be used to recognized fake drugs to prevent fraud and to ensure the safety of the people.
        Fruitoscopy is not the first spectroscope able to do theese things but it presents many advantages compared to the other devices:
        <ul>
            i is portable
            it is easy to use
            it is cheap
            does not spoil the sample
            it is open source
        </ul>
    </div>
{% endblock content %}